################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/AkhmerovaLanguage/.vs/AkhmerovaLanguage/FileContentIndex/63730951-60a7-4e4b-b8bd-c2ede463fc8c.vsidx
